.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  background-color: #252525;
  color: white;
  height: 100px;
  .SlackButton {
    border-radius: 6px;
    height: 25px;
    margin: 10px;
  }
}
