# See https://help.github.com/ignore-files/ for more about ignoring files.

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# dependencies
**/node_modules

# testing
app-api/coverage
/.vscode
firebase-debug.log

# production
**/build
**/dist

# misc
*.css
*.swp
.DS_Store
.runtimeconfig.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
credentials.ts
client_secret.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
