.Clock {
  height: 111px;
  > div {
    text-align: center;
    color: white;
  }
  .date {
    font-size: 40px;
  }
  .time {
    font-size: small;
    margin-top: -18px;
  }
  .LoadingContent {
    padding: 21px;
  }
}